
.contentContainer {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 10px;

  iframe {
    width: 95%;
    height: 80vh;
  }
  img {
    max-width: 100%;
  }
}
