
.listItem {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;

  &:hover {
    border-bottom: 2px solid #7165a3;
    color: #7165a3;
    cursor: pointer;
  }

  &.active,
  &.active:hover {
    border-bottom: 2px solid #b2a1ff;
    color: #b2a1ff
  }
}